SHAKS_ENV_ID=local

SHAKS_SECRET_KEY=django-insecure-replace-me-in-production
SHAKS_DEBUG=True
SHAKS_ALLOWED_HOSTS=*

# Redis 
SHAKS_REDIS_URL=redis://localhost:6379/0
SHAKS_CELERY_BROKER_URL=redis://localhost:6379/1
SHAKS_CELERY_RESULT_BACKEND=redis://localhost:6379/1
SHAKS_CHANNEL_LAYER_URL=redis://localhost:6379/2

# Email 
SHAKS_EMAIL_HOST=smtp.gmail.com
SHAKS_EMAIL_PORT=587
SHAKS_EMAIL_HOST_USER=
SHAKS_EMAIL_HOST_PASSWORD=
SHAKS_EMAIL_USE_TLS=True
SHAKS_DEFAULT_FROM_EMAIL=noreply@shaks.edu

# Flower 
SHAKS_FLOWER_USER=admin
SHAKS_FLOWER_PASSWORD=changeme

# Seed
SHAKS_SEED_DB=False
